.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal-content {
    position: relative;
    background-color: var(--color-white);
    border-radius: var(--radius-md);
    padding: var(--spacing-md);
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    /* text-align: stat; */
}

.center-content {
    text-align: center;
}