.auth-bg {
    /* background-image: url('/assets/images/empty-street-cuate.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%; */
    position: relative;
}

/* .auth-bg-content {
    max-width: var(--screen-2xl);
    margin: 0 auto;
    padding: var(--spacing-xl);
} */