@if(showLogoutModal$ | async) {
<app-logout-modal />
}


<div class="nav-bar">
  <div class="nav-bar-content">


    <div class="nav-bar-logo">
      <a routerLink="/" aria-label="CivicPoll home">
        <img src="assets/logo.png" alt="CivicPoll">
      </a>
    </div>


    <nav class="nav-bar-links" aria-label="Main navigation">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-item-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-item-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <!-- <li class="nav-list-item">
          <a class="nav-list-item-link" routerLink="/auth/login" routerLinkActive="active">Login</a>
        </li> -->
      </ul>
    </nav>


    <div class="button-container">
      @if(isLoggedIn$ | async) {
      <app-button (buttonClick)="toggleModal()">Logout</app-button>
      }@else {
      <app-button (buttonClick)="navigateToLogin()">Login</app-button>
      }

    </div>


    <button class="nav-bar-menu" aria-label="Open menu" [attr.aria-expanded]="menuOpened" aria-controls="mobile-menu"
      (click)="toggleMenu()">
      <img class="nav-bar-menu-icon" src="assets/icons/menu.svg" alt="">
    </button>


    <div class="nav-bar-menu-overlay" [class.open]="menuOpened" (click)="toggleMenu()">
    </div>


    <div id="mobile-menu" class="nav-bar-menu-content" [class.open]="menuOpened" [attr.aria-hidden]="!menuOpened">

      <div class="nav-bar-menu-inner-content">

        <div class="nav-bar-menu-header">
          <nav aria-label="Mobile navigation">
            <ul class="nav-list">
              <li class="nav-list-item">
                <a class="nav-list-item-link" routerLink="/" routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">Home</a>
              </li>
              <li class="nav-list-item">
                <a class="nav-list-item-link" routerLink="/about" routerLinkActive="active"
                  (click)="toggleMenu()">About</a>
              </li>
              <!-- <li class="nav-list-item">
                <a class="nav-list-item-link" routerLink="/auth/login" routerLinkActive="active"
                  (click)="toggleMenu()">Login</a>
              </li> -->
            </ul>
          </nav>


          <button class="nav-bar-menu" aria-label="Close menu" (click)="toggleMenu()">
            <img class="nav-bar-menu-icon" src="assets/icons/close.svg" alt="">
          </button>
        </div>

        <div class="nav-bar-menu-button-container">
          <app-button (buttonClick)="toggleModal()">Logout</app-button>
        </div>

      </div>
    </div>

  </div>
</div>