<div class="input-wrapper" [formGroup]="formGroup">
    <label [for]="name" class="input-label">{{ label }}</label>
    <div class="input-field-wrapper">
        <input class="input-field" [class.error]="hasError" [type]="type" [id]="name" [name]="name"
            [placeholder]="placeholder" [formControlName]="name">

        <button class="action-icon" type="button" (click)="togglePasswordVisibility()">
            <img [src]="showPassword ? 'assets/icons/icons8-hide-96.png':'assets/icons/icons8-eye-90.png'" alt="eye"
                class="action-icon-img" [alt]="showPassword ? 'Show password' : 'Hide password'">
        </button>

    </div>

    @if (hasError) {
    <p class="error-message">{{ errorMessage }}</p>
    }
</div>