.profile-container {

    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    gap: var(--spacing-md);
    padding-inline: var(--spacing-xl);
}

.profile-setup {
    width: 30%;
    height: 250px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
}

.profile-role {
    display: flex;
    gap: var(--spacing-md);
}

.role {
    padding: var(--spacing-xs) var(--spacing-md);
    background-color: var(--color-hover);
    font-size: var(--font-size-xs);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-bold);
    border-radius: var(--radius-sm);
}

.location {
    padding: var(--spacing-xs) var(--spacing-md);
    background-color: transparent;
    font-size: var(--font-size-xs);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-bold);
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-text);
}

.state-dot {
    width: var(--spacing-sm);
    height: var(--spacing-sm);
    border-radius: 50%;
    background: var(--color-primary);
    flex-shrink: 0;
    margin-right: var(--spacing-xs);
}

.profile-data {
    display: flex;
    flex-direction: column;

}

.name {
    /* font-family: var(--); */
    color: var(--color-text);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    text-align: center;
}

.email {
    color: var(--color-text);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    text-align: center;
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: var(--color-hover);
    color: var(--color-text);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
}

.profile-form {
    width: 70%;
    padding: 0 var(--spacing-lg);

}

.profile-form-header {
    margin-bottom: var(--spacing-md);
}

.profile-form-header h1 {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
    font-family: var(--font-text);
}


.profile-form-inputs {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
    width: 100%;
}


@media (max-width: 1024px) {}

@media (max-width: 768px) {

    .profile-container {
        flex-direction: column;
    }

    .profile-setup {
        width: 100%;
    }

    .profile-form {
        padding: 0 var(--spacing-md);
        width: 100%;
    }

    .profile-form-header h1 {
        font-size: var(--font-size-2xl);
    }
}

@media (max-width: 480px) {

    .profile-form {
        width: 100%;
        padding: 1rem 0.5rem;
    }
}