.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
}

.forgot-password-content {
    max-width: var(--screen-lg);
    margin: 0 auto;
    padding: var(--spacing-xl);
    display: flex;
    gap: var(--spacing-lg);
    border: 1px solid var(--color-primary);
    border-radius: var(--radius-lg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.forgot-password-form {
    width: 100%;
    padding: 0 var(--spacing-lg);

}

.forgot-password-form-header {
    margin-bottom: var(--spacing-md);
}

.forgot-password-form-header h1 {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
    font-family: var(--font-text);
}

.forgot-password-logo-wrapper {
    width: 100px;
    height: 100px;
    /* margin-bottom: var(--spacing-sm); */
}

.forgot-password-logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forgot-password-form-inputs {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-lg);
}

.links-wrapper {
    display: flex;
    gap: var(--spacing-md);
    justify-content: space-between;
    align-items: center;
}

.links-wrapper a {
    text-decoration: none;
    color: var(--color-link);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    transition: color 0.3s ease;
}

.links-wrapper a:hover {
    color: var(--color-primary);
}

@media (max-width: 1024px) {
    .forgot-password-container {
        padding-inline: 2rem;
    }

    .forgot-password-content {
        padding: var(--spacing-lg);
    }

    .links-wrapper a {
        font-size: var(--font-size-xs);
    }
}

@media (max-width: 768px) {
    .forgot-password-container {
        padding-inline: 1rem;
    }

    .forgot-password-form {
        padding: 0 var(--spacing-md);
    }

    .forgot-password-form-header h1 {
        font-size: var(--font-size-2xl);
    }
}

@media (max-width: 480px) {

    .forgot-password-form {
        width: 100%;
        padding: 0;
    }

    .forgot-password-content {
        width: 100%;
        padding: var(--spacing-md);
    }

}